.flex-container {
    display: flex;
    justify-content: center;
}
.header-middle{
    max-width: 700px;
}
.work-list {
    display: grid;
    border-width: 100px;
}
.icon {
    display: flex;
    gap: 40px;
}
.intro {
    font-size: 1.5vw;
    
    color: black;
    margin: 2vh 0 0 0;
}